/*================*/
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.material-symbols-outlined {
	vertical-align: middle;
}
a {
	text-decoration: none !important;
}
b {
   font-weight: bold;
}
ul, ul li {
}
html {
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	font-size: 32px;
}
@media(max-width:2280px) {
	body {
		font-size: 28px;
	}
}
@media(max-width:2160px) {
	body {
		font-size: 24px;
	}
}
@media(max-width:1800px) {
	body {
		font-size: 20px;
	}
}
@media(max-width:1608px) {
	body {
		font-size: 18px;
	}
}
@media(max-width:640px) {
	body {
		font-size: 15px;
	}
}
@media(max-width:480px) {
	body {
		font-size: 14px;
	}
}
@media(max-width:300px) {
	body {
		font-size: 12px;
	}
}
h1, h2, h3, h4, h5 {
	font-family: 'Bodoni Moda', serif;
}
p, a, b {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1em;
	font-weight: 300;
}
/*======== navigation =========*/
#main-nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #D96456;
	background-image: url("../images/navbg.png");
	padding: 0;
	background-size: contain;
	background-repeat: repeat-x;
	background-position: center;
	padding-top: 0.65em;
	padding-bottom: 0.65em;
}
#main-nav ul{
	width: 100%;
	max-width: 1200px;
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	list-style-type: none;
}
#main-nav ul li a,
#nested-nav{
	color: white;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
}
#drop-down{
	position: absolute;
	width: 20em;
	background-color: #000000b2;
	left: 0;
	text-align: left;
	z-index: 3;
	padding: 1em;
	line-height: 2em;
	display: none;
}
#nested-nav:hover #drop-down{
	display: block;
}
#logo img {
  max-width: 10em;
}
#drop-down a {
  display: block !important;
}
#desktop-phone {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5em;
  font-size: 1.25em;
  background: #FAFAFAED;
  color: #D96456;
  padding: 0.5em 1.5em;
  border-radius: 1em;
}
#logo {
  max-width: 20%;
}
#main-nav a {
	padding-left: 1em;
	padding-right: 1em;
}
#main-nav ul li a:hover:not(#logo a){
	border-bottom: 2px solid;
}
#reserve-now{
	background-color: #9D3124;
	color: #FAFAFA;
	font-size: 1.25em;
	padding: 1em 2.5em;
	position: fixed;
	left: 0.5em;
	bottom: 0.5em;
	z-index: 5;
	border-radius: 2em;
	text-transform: capitalize;
}
/*======== mobile navigation =========*/

#phone-mobile {
  font-size: 1em;
}
#phone-mobile .material-symbols-outlined {
  font-size: 3em;
}
.nav-desktop{
	display: table-cell;
}
.mobile-nav{
	display: none;
}
.menu-btn {
	height: 3em;
	transition: 0.3s;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 0.75em;
	position: absolute;
	width: 3.5em;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.menu-btn hr {
	display: block;
	width: 100%;
	transition: 0.3s;
	position: absolute;
	border: 0.25em solid white;
	height: 0;
}
.menu-btn-hr-1 {
	top: 0;
	left: 50%;
	-moz-transform: translateX(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) rotate(0deg);
	-o-transform: translateX(-50%) rotate(0deg);
	-webkit-transform: translateX(-50%) rotate(0deg);
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2 {
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.menu-btn-hr-3 {
	bottom: 0;
	left: 50%;
	-moz-transform: translateX(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) rotate(0deg);
	-o-transform: translateX(-50%) rotate(0deg);
	-webkit-transform: translateX(-50%) rotate(0deg);
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1 {
	top: 50%;
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	-o-transform: translate(-50%, -50%) rotate(-45deg);
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2 {
	opacity: 0;
}
.menu-btn.active .menu-btn-hr-3 {
	top: 50%;
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	-o-transform: translate(-50%, -50%) rotate(45deg);
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}
#mobile-nav {
	position: absolute;
	z-index: 998;
	width: 100%;
	background: #1e1e1ee5;
	padding: 4em;
	right: 0;
	top: 6em;
	display: none;
 }
  #mobile-nav a {
	width: 100%;
	display: block;
	color: white;
	text-align: right;
	margin: 1em;
	text-transform: capitalize;
		font-size: 1.33em
 }
@media(max-width:850px){
	#desktop-phone{
		display: none;
	}
	#main-nav{
		background-size: cover;
		position: fixed;
	}
	.nav-desktop{
		display: none;
	}
	.mobile-nav{
		display: inline-block;
		position: relative;
		width: 20%;
	}
	#logo {
		text-align: center;
		max-width: 50%;
  		display: inline-block;
		max-width: 50%;
		width: 100%;
	}
	#mobile-nav{
		transform: scaleY(0);
		transition: 0.3s;
		transform-origin: top;
	}
	#mobile-nav{
		display: block;
		position: fixed;
	}
	#mobile-nav.active{
		transform: scaleY(1);
	}
	#reserve-now{
		width: 100%;
		left: 0;
		text-align: center;
		border-radius: 0;
		bottom: 0;
	}
}
/*==================*/
footer {
  padding: 2em;
}
#footer-logo-img {
  background: #333;
}
#first-footer-row {
  display: table;
  width: 100%;
  margin-bottom: 2em;
}
#first-footer-row li {
  display: table-cell;
  width: 33.3%;
	text-align: center;
	padding: 1em;
  border-bottom: 0.2em solid pink;
}
#first-footer-row img {
  width: 100%;
	margin: 0 auto;
  max-width: 13em;
}
#first-footer-row li a{
	display: block;
	text-align: center;
}
#social-icons img {
  width: 2em;
}

#second-footer-row {
  display: table;
  width: 100%;
}
#second-footer-row li {
  display: table-cell;
  width: 33.3%;
  text-align: center;
}
#second-footer-row a {
  display: block;
  text-transform: capitalize;
  line-height: 2em;
  text-align: center;
  color: #333;
}

#footer-phone .material-symbols-outlined {
  display: inline-block;
  font-weight: bold;
}
#footer-phone p {
  display: inline-block;
}
#footer-map .material-symbols-outlined {
  display: inline-block;
  font-weight: bold;
  float: ;
}
#footer-map p {
  display: inline-block;
  vertical-align: top;
  line-height: 1.25em;
}
#footer-phone {
  margin-bottom: 2em;
}
#footer-map {
  margin-bottom: 2em;
}
#social-icons a {
  display: inline-block;
}
@media(max-width:950px){
	#second-footer-row {
		text-align: center;
	}
	#second-footer-row li{
		display: inline-block;
		width: 45%;
		margin-bottom: 2em;
		vertical-align: top;
	}
}
@media(max-width:600px){
	#second-footer-row li{
		width: 100%;
	}
	#first-footer-row li{
		width: 100%;
		display: block;
		border-bottom: none;
	}
}

#hero {
	padding: 12em;
	margin-top: 6em;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed !important;
  }
  #hero h1 {
	color: white;
	font-weight: lighter;
	text-shadow: 0em 0em 1em black;
	line-height: 1em;
	margin: 1em 0em;
	text-transform: capitalize;
  }
  #hero hr {
	border: 1px solid #ffffff59;
  }
  #hero h3 {
	font-family: "Montserrat";
	color: white;
	margin: 1em;
	text-shadow: 0em 0em 1em black;
	text-transform: capitalize;
  }
  @media(max-width:1000px){
	#hero {
	  padding: 10em 5em;
	  background-attachment: local !important;
	}
  }
  @media(max-width:500px){
	#hero {
	  padding: 8em 2em;
	}
  }
  #book-here header {
	font-size: 2em;
	font-family: 'Bodoni Moda', serif;
	line-height: 1em;
	padding: 0.5em;
	color: #9d3124;
  }
  #book-here p {
	line-height: 2em;
	padding: 2em;
  }
  #book-here {
	padding: 2em;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #FAFAFA;
  }

#about-marriot p {
  line-height: 2.5em;
  color: #333;
  margin: 3em auto;
}
#about-marriot {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}


#about-marriot span {
  font-size: 2em;
  float: left;
  color: #d2755c;
  font-family: 'Bodoni Moda', serif;
  padding-right: 0.25em;
  line-height: 1em;
}

/*======= blog styling =======*/

.blog-preview {
	display: inline-block;
	border-radius: 1em;
	background: white;
	width: 100%;
	margin-bottom: 1em;
}
.blog-preview header {
	overflow: hidden;
	position: relative;
	margin-top: 0 !important;
	height: 12.5em;
	z-index: 1;
	border-top-left-radius: 0.9em;
	border-top-right-radius: 0.9em;
	background: black;
}
.blog-preview header img {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	z-index: 4;
	transform: translate(-50%, -50%);
}
#blog-container {
	text-align: center;
	background: #FDC6BE;
}
#blog-body {
	text-align: center;
	column-count: 2;
	max-width: 1200px;
	margin: 1em auto;
	padding: 1em;
}
#blog-hero h2 {
	margin-bottom: 1em;
}
.blog-preview h3 {
	font-size: 1.5em;
	margin: 0;
	padding: 1em;
	width: 100%;
	text-align: center;
	color: #D9321E;
	line-height: 1em;
}
.blog-preview a {
	margin-bottom: 1em;
	display: inline-block;
}
.blog-preview p {
	color: #333;
}
.date, .time {
	display: inline-block;
	color: #305661;
	margin: 0.5em;
}
.more-blog {
	background-color: black;
	opacity: 0.7;
	width: 191px;
	border-radius: 12px;
	margin: 1em auto;
	font-family: kon-tiki-aloha-jf, sans-serif;
	font-weight: 500;
	font-size: 22pt;
	border: solid 1px #61b3c5;
	padding: 4px 12px 4px 12px;
	text-shadow: 3px 3px 4px #2e1405a3;
	text-decoration: none;
	display: inline-block;
}
@media(max-width: 1000px) {
	.blog-preview header img {
		width: auto;
		height: 100%;
	}
}
@media(max-width:600px) {
	#blog-body {
		text-align: center;
		column-count: 1;
	}
	.blog-preview header img {
		width: 100%;
		height: auto;
	}
}